body {
    background-color: #697fe4;
}

p {
	width: 100%;
	align-items: center;
	text-align: center;
}

.Container1 {
	background-color: #697fe4;

	font-size: 7rem;

	width: fixed;

	display: flex;

	border-style: solid;
	border-color: black;
	border-width: 0.5rem;

	}

.Container1_L {
	margin-right: 10rem;
	display: flex;

	border-style: solid;
	border-color: red;
	border-width: 0.5rem;
}

.Container1_L img {
	/*margin-left: 1rem;*/
	width:9.5rem;
	height:9.5rem;
}

.Container2_lista{
	display: flex;
	align-items: center;
	flex-direction: column;

	border-style: solid;
	border-color: blue;
	border-width: 0.5rem;
}

.Container2 {
	background-color: #fdad1a;
	align-items: center;

	font-size: 4rem;
	text-align: center;

	width: 50rem;
	height: 10rem;

	margin-top: 6rem;
	margin-left: 6rem;
	margin-right: 6rem;

	display: flex;
	
	border-style: solid;
	border-color: yellow;
	border-width: 0.5rem;

	}

